html, body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%; }

#navbar {
  padding-bottom: 2rem; }

.scroll-box {
  overflow-y: scroll;
  height: 500px; }

textarea:focus, input:focus, *:focus {
  box-shadow: none !important;
  border-color: #ced4da !important;
  -webkit-box-shadow: none !important; }

.btn-outline-secondary {
  border-color: #ced4da;
  border-left: none; }

#message-input {
  border-right: none !important; }

#send-message-button:hover {
  background-color: transparent !important;
  color: #007bff !important;
  border-color: #ced4da; }
